<div class="case-study-container matterhorn">
  <div class="case-study-title">
    <div class="container">
      <div class="image">
        <img src="<%= image_path 'goat.svg' %>" alt="">
      </div>
      <div class="text">
        <h1>
          Matterhorn
        </h1>
        <h2>
          Project management for multiple people and projects.
        </h2>
        <a href="http://www.matterhorn.io/" target="_blank" class="ghost-button">
          <span class="fa fa-link"></span>Visit Site
        </a>
      </div>
    </div>
  </div>
  <div class="case-study-intro">
    <div class="container">
      <div class="case-study-detail">
        <h4>
          What I did
        </h4>
        <ul class="skill-list">
          <li>Template/Platform Design</li>
          <li>User Experience</li>
          <li>User Interface</li>
          <li>Visual Identity</li>
          <li>HTML5/CSS3 </li>
          <li>Responsive Design & Build</li>
          <li>Device Testing</li>
        </ul>
      </div>
      <div class="case-study-body">
        <blockquote>
          <h3>
            Matterhorn is a Serious Fox product that I have been involve in designing and building over the past year.
          </h3>
        </blockquote>
        <p>
          Matterhorn has had multiple iterations based on internal and external user testing and feedback. I studied user behaviours and preferences to define and refine the core features and functionalities of the product. I have also been involved in the planning around it’s recent launch including marketing strategy, copywriting and designing the landing page.
        </p>
      </div>
    </div>
  </div>
  <div class="showcase">
    <div class="container">
      <div class="big-showcase">
        <img src="<%= image_path 'work/up-portals/home.png' %>" alt="">
      </div>
      <div class="big-showcase">
        <img src="<%= image_path 'work/up-portals/first-works.png' %>" alt="">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="case-study-body">
      <h5>
        The Brief
      </h5>
      <p>
        Ubiquity Press is an open access publisher of peer-reviewed academic journals, books and data. It also serves as a platform for partnering universities to initialise their own publishing presses. Ubiquity have the underlying backend and processes to launch their presses, but want a modern design that is in line with the innovative nature of their publishing model.
      </p>
      <blockquote>
        <h3>
          The brief is to create a HTML/SCSS template press layout and design that can be customised to some extent by partnering presses.
        </h3>
      </blockquote>
      <h5>
        Look & Feel
      </h5>
      <div class="problem-row">
        <div>
          <h3>
            Problem:
          </h3>
          <p>
            Ubiquity press provides a revolutionary publishing model that combines modern technology and established university practices, which can sometimes be at odds with each other
          </p>
        </div>
        <div>
          <h3>
            Solution:
          </h3>
          <p>
            The design of the press template needs to have a modern feel while conveying academic authority
          </p>
        </div>
      </div>
      <p>
        We started by deciding on typography. Since the presses would have a varying amount of content - sometimes busy and sometimes quite empty, fonts were important for establishing visual hierarchy.
      </p>
      <blockquote>
        <h3>
          While the original font pairings were taken from typekit (Source Sans Pro and Rooney Web) we ended up moving to google fonts as it was a more sustainable solution, using Droid Serif as a suitable replacement.
        </h3>
      </blockquote>
      <div class="image-row">
        <div class="third">
          <img src="<%= image_path 'work/up-portals/text-experiments1.png' %>" alt="">
        </div>
        <div class="third">
          <img src="<%= image_path 'work/up-portals/text-experiments2.png' %>" alt="">
        </div>
        <div class="third">
          <img src="<%= image_path 'work/up-portals/text-experiments3.png' %>" alt="">
        </div>
      </div>
      <p>
        Source Sans Pro in thin has a very sleek and fresh look that brought an element of modernity, while the more standard but slightly softened Droid Serif kept the element of print that the presses are still involved in.
      </p>
      <img src="<%= image_path 'work/up-portals/typesettle.png' %>" alt="">
      <p>
        We took inspiration both from established online book stores and university websites as well as contemporary article sites and online news aggregators, blending them all together into a design on the line between modernity and tradition.
      </p>
      <img src="<%= image_path 'work/up-portals/latestnews.png' %>" alt="">
      <h5>
        Customisation vs Usability
      </h5>
      <div class="problem-row">
        <div>
          <h3>
            Problem:
          </h3>
          <p>
            The presses need to be customisable by partner presses, but must maintain a good user experience across the board.
          </p>
        </div>
        <div>
          <h3>
            Solution:
          </h3>
          <p>
            We must set the limitations for customisation to balance partner press needs with a consistent quality of user interface
          </p>
        </div>
      </div>
      <h3>
        We designed the HTML template to be
      </h3>
      <ol>
        <li>
          Divided into blocks that could be easily mixed and matched within various layouts.
        </li>
        <li>
          Customisable from a main variables file.
        </li>
      </ol>
      <p>
        As previously mentioned, we had decided that the visual hierarchy set by type would be important for creating order in both content-heavy and less populated presses.
      </p>
      <blockquote>
        <h3>
          The typography was designed to provide readability and clarity. Therefore, we decided that while there should be an easy way to choose a custom font family, we did not integrate font size control into the variable file.
        </h3>
      </blockquote>
      <p>
        We also decided to limit the layout styles to max 2 columns (each block taking up one column) as some blocks would not be useful if placed within a more narrow column, and because it had potential to cause issues with responsiveness going forward.
      </p>
      <div class="image-row">
        <div class="big-showcase">
          <img src="<%= image_path 'work/up-portals/layoutexamplefull.png' %>" alt="">
        </div>
        <div class="big-showcase">
          <img src="<%= image_path 'work/up-portals/layoutexampleblocks.png' %>" alt="">
        </div>
      </div>
      <p>
        We limited the amount of brand colors to 4 to ensure that there wouldn’t be too much distraction if the colours happened to be very attention-grabbing. We also use colour quite sparingly on the template, but in a couple of key places where they help reinforce the brand identity of the press.
      </p>
      <blockquote>
        <h3>
          We knew we wouldn’t have control over the visual hierarchy once the presses started customising, so it was important to put down some kind of guide for how the colours would appear in the design.
        </h3>
      </blockquote>
      <div class="image-row">
        <div class="big-showcase">
          <a href="http://www.stockholmuniversitypress.se/" target="blank" class="image-caption">
            <h2>Stockholm University Press</h2>
          </a>
          <img src="<%= image_path 'work/up-portals/sup.png' %>" alt="">
        </div>
        <div class="big-showcase">
          <a href="" class="image-caption">
            <h2>Open Communications Press</h2>
          </a>
          <img src="<%= image_path 'work/up-portals/ocp.png' %>" alt="">
        </div>
      </div>
      <p>
        Of the partner presses that have joined so far, this has proved quite successful. The way we implemented our "guide" was to name the variables in a way that reflected their prominence within the design.
      </p>
      <ul>
        <li>$brand-main-color </li>
        <li>$brand-secondary-color </li>
        <li>$brand-accent-color </li>
        <li>$brand-shadow-color</li>
      </ul>
      <p>
        We found that this setup tended to provide a visually balanced colour scheme that would be close to what the partner press was using within their own branding.
      </p>
      <blockquote>
        <h3>
          As you can see, there are still many similarities in appearance between presses, but the customisation elements allow you to quickly differentiate between them.
        </h3>
      </blockquote>
      <h5>
        Dynamism & Social integration
      </h5>
      <div class="problem-row">
        <div>
          <h3>
            Problems:
          </h3>
          <p>
            Ubiquity press are eager to introduce a feeling of dynamism and social interaction on their page
          </p>
        </div>
        <div>
          <h3>
            Solutions:
          </h3>
          <p>
            Design a way to integrate social sharing and feeds into the site without it feeling stale, out of place or forced.
          </p>
        </div>
      </div>
      <p>
        This was really one of the biggest challenges in the project - how do you make a social feed interesting? We’ve all seen embedded twitter timelines, but they often feel a little forced, or like background fodder. Theres even adblockers to get rid of them!
      </p>
      <blockquote>
        <h3>
          Since twitter had updated their API to be more strict about display requirements, it had become harder to present tweets in a way that felt integrated and relevant to the actual site content.
        </h3>
      </blockquote>
      <div class="image-row">
        <div class="twitter-card">
          <a class="twitter-timeline" href="https://twitter.com/ubiquitypress" data-widget-id="520255954512654336">Tweets by @ubiquitypress</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          <p>
            <em>
              Twitter's timelines have a lot of functionality, but can feel a bit out of place and forced in a design
            </em>
          </p>
        </div>
      </div>
      <p>
        While there were non-official ways to get around this, we wanted  a sustainable solution that would allow us to retain all the functionality that comes with twitter’s timelines - ability to reply, favourite, retweet,and follow, without taking the user away from the site.
      </p>
      <blockquote>
       <h3>
         We decided <a href="https://dev.twitter.com/web/embedded-tweets" target="_blank">embedded individual twitter cards</a> were a good way to accomplish this. It gave us more freedom than twitter timelines, and Ubiquity’s team had found a way to systematically collect the relevant tweet ID’s needed to create a “timeline” of embedded twitter cards.
       </h3>
      </blockquote>
      <div class="image-row">
        <div class="twitter-card">
          <blockquote class="twitter-tweet" lang="en"><p>Hey, <a href="https://twitter.com/ubiquitypress">@ubiquitypress</a> new website is quite fantastic <a href="http://t.co/A6Wkqa2wIY">http://t.co/A6Wkqa2wIY</a> and you can download <a href="https://twitter.com/hashtag/openaccess?src=hash">#openaccess</a> ebooks in PDF, EPUB, Kindle</p>&mdash; Stefano Costa (@stekosteko) <a href="https://twitter.com/stekosteko/status/507243584849207296">September 3, 2014</a></blockquote>
          <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          <p><em>Twitter cards provide a lot of functionality while being less restrictive than timelines</em></p>
        </div>
      </div>
      <p>
        The concept was to have the tweets populate a list almost as if they were being tweeted in real time. We went through several iterations of this but ran into a number of issues due to technical limitations, as we were trying to create the effect via CSS animations on a timer.
      </p>
      <p>
        The rationale behind pursuing a CSS only solution was that it was a little more lightweight and allowed the user to scroll through the tweets, however it caused a number of annoying user experience issues that outweighed the benefits.
      </p>
      <div class="center-row">
        <img src="<%=image_path 'work/up-portals/feed1.gif' %>" alt="">
      </div>
      <p>
        At last, we decided to go a javascript route - using the <a href="http://bxslider.com/" class="page-link "target="_blank">bxslider.js</a> library to create a vertical slider. This didn’t allow users to scroll through tweets, but gave them the controls to flip through them instead. The result was a much less problematic feed that still gave the site a dynamic feel.
      </p>
      <div class="center-row">
        <img src="<%=image_path 'work/up-portals/feed2.gif' %>" alt="">
      </div>
      <h5>
        Screen Sizes & Design
      </h5>
      <div class="problem-row">
        <div>
          <h3>Problem:</h3>
          <p>
           As the target audience will be in Universities, users may be viewing the site on smaller screens or tablets.
          </p>
        </div>
        <div>
          <h3>Solution:</h3>
          <p>
            Design the site to be fully responsive, with extra focus on  smaller screen sizes
          </p>
        </div>
      </div>
      <p>
        When designing the site, we were keen on making it pleasant to use even at a very small height. This was because we assumed the user base was likely to use smaller screens such as laptops or older monitors. The actual window we used while we were designing the site was something like 1000 x 550 px - tiny, but appropriate on e.g a 13” screen.
      </p>
      <div class="image-row">
        <div class="big-showcase">
          <img src="<%=image_path 'work/up-portals/home-small.png' %>" alt="">
        </div>
        <div class="big-showcase">
          <img src="<%=image_path 'work/up-portals/about-small.png' %>" alt="">
        </div>
        <div class="big-showcase">
          <img src="<%=image_path 'work/up-portals/journals-small.png' %>" alt="">
        </div>
        <div class="big-showcase">
          <img src="<%=image_path 'work/up-portals/book-small.png' %>" alt="">
        </div>
      </div>
      <p>
        Designing for smaller window sizes meant avoiding the use of overly large fonts, spaces or images in order to serve the user as much content and more importantly, context at any time.
      </p>
      <blockquote>
        <h3>
          Putting a lot of effort into the small screen experience did not mean that the big screen experience suffered - the result was simply a much tighter layout with concentrated, smaller packets of information.
        </h3>
      </blockquote>
      <img src="<%=image_path 'work/up-portals/imac.jpg' %>" alt="">
    </div>
  </div>
  <div class="showcase">
    <div class="container">
      <div class="big-showcase">
        <img src="<%=image_path 'up-portals.jpg' %>" alt="">
      </div>
      <div class="big-showcase">
        <img src="<%=image_path 'work/up-portals/phone.jpg' %>" alt="">
      </div>
    </div>
  </div>
</div>

